---
resources:
- ../busybox

patches:
- target:
    kind: PersistentVolumeClaim
    name: busybox-pvc
  patch: |-
    - op: replace
      path: /spec/storageClassName
      value: ocs-storagecluster-cephfs
    - op: replace
      path: /spec/accessModes
      value:
        - ReadWriteMany
