---
resources:
- ../busybox

patches:
- target:
    kind: PersistentVolumeClaim
    name: busybox-pvc
  patch: |-
    - op: replace
      path: /spec/storageClassName
      value: ocs-external-storagecluster-ceph-rbd
