# Kustomization for OpenShift Regional DR environment.
---
resources:
  - ../base
patches:
  - target:
      kind: VirtualMachine
      name: vm
    patch: |-
      # Use masquerade network interface.
      - op: add
        path: /spec/template/spec/domain/devices/interfaces/0/masquerade
        value: {}
      # Use internal ceph cluster.
      - op: replace
        path: /spec/dataVolumeTemplates/0/spec/storage/storageClassName
        value: ocs-storagecluster-ceph-rbd-virtualization
