---
resources:
  - ../base
patches:
  # Customize for internal cephfs storage.
  - target:
      kind: PersistentVolumeClaim
      name: busybox-pvc
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: rook-cephfs-fs1
      - op: replace
        path: /spec/accessModes
        value:
          - ReadWriteMany
